.caja_puntos_container {
    display: flex;
}

.caja_puntos_columna_1 {
    display: flex;
   background-color: red;
   width: 50px;
   justify-content: center;
}


.caja_puntos_columna_2 {
    background-color: green;
    width: calc(100% - 100px)
 }
 

 .caja_puntos_columna_3 {
    display: flex;
    background-color: blue;
    justify-content: center;
    width: 50px;
 }
 